<mat-toolbar class="w-full flex justify-start items-center space-x-2">
  <button mat-button class="w-fit flex justify-center items-center">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <button mat-button class="w-fit flex justify-center items-center">
    <mat-icon>save</mat-icon>
  </button>
  <button mat-button class="w-4 flex justify-center items-center">
    <mat-icon>delete</mat-icon> 
  </button>
  <button mat-button class="w-fit flex justify-center items-center">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>
