<div class="w-full height-content">
    <form [action]="onActionForm()" class="w-full h-full flex flex-col space-y-2" [formGroup]="formGroup!">
      <div class="w-full h-full flex space-x-2">
        <div
          class="w-full h-full flex flex-col justify-center items-start space-y-2"
        >
          <app-custom-input placeholder="name" class="w-full" [parentForm]="formGroup" controlName="name"></app-custom-input>
          <app-custom-input placeholder="table name" class="w-full" [parentForm]="formGroup" controlName="description"></app-custom-input>
          <app-custom-input placeholder="description" class="w-full" [parentForm]="formGroup" controlName="table_name"></app-custom-input>
        </div>
        <!-- <div class="w-full h-full flex flex-col justify-center items-start">
        </div> -->
      </div>
      <div class="w-full h-full">Tabs Detail</div>
    </form>
  </div>
  