<div
  class="w-full bg-gray2color box-border p-3"
  style="height: calc(100% - 8%)"
>
  <mat-tab-group
    class="w-full h-full"
    #matTabGroup
    animationDuration="0ms"
    fitInkBarToContent
    mat-align-tabs="start"
    mat-stretch-tabs="false"
    [selectedIndex]="selected.value"
  >
    <mat-tab class="w-full h-full" *ngFor="let item of tabs">
      <ng-template mat-tab-label>
        <div
          class="w-full h-full flex justify-between items-center truncate rounded-md"
        >
          <span> {{ item.name }} </span>
          <div
            *ngIf="!item.default"
            class="cursor-pointer"
            (click)="onCloseMenu(item)"
          >
            <mat-icon>close</mat-icon>
          </div>
        </div>
      </ng-template>

      <!-- main content -->
      <div
        class="w-full bg-white mt-2 rounded-md overflow-auto"
        style="height: calc(100vh - 20vh)"
      >
        <app-tool-bar
          [menuToolbarAccess]="checkAccessMenu(item.accessMenu!)"
          [idMenu]="item.id"
        ></app-tool-bar>
        <!-- Form -->
        <div class="p-3">
          <!-- <ng-content select="app-mainworkspace-content"></ng-content> -->
          <app-mainworkspace-content
            [inquiry]="item.link!"
            [id]="item.id"
            class="w-full h-full"
          ></app-mainworkspace-content>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
