<div
  class="w-full bg-gray2color box-border p-3"
  style="height: calc(100% - 8%)"
>
  <mat-tab-group animationDuration="0ms" style="width: 100%" class="w-full">
    <mat-tab style="width: 100%" class="w-full">
      <ng-template mat-tab-label style="width: 100%" class="w-full">
        <div class="w-full h-full inline-flex justify-between items-center">
          <span> First </span>
          <mat-icon>close</mat-icon>
        </div>
      </ng-template>
      Content 1
    </mat-tab>
    <mat-tab style="width: 100%">
      <ng-template mat-tab-label style="width: 100%">
        <div class="w-full h-full inline-flex justify-between items-center">
          <span> First </span>
          <mat-icon>close</mat-icon>
        </div>
      </ng-template>
      Content 1
    </mat-tab>
  </mat-tab-group>
</div>
