<div
  class="w-full bg-gray2color box-border p-3"
  style="height: calc(100% - 8%)"
>
  <mat-tab-group
    #matTabGroup
    animationDuration="0ms"
    style="width: 100%"
    [selectedIndex]="selectedIndex"
  >
    <mat-tab style="width: 20px" *ngFor="let item of tabs">
      <ng-template mat-tab-label style="width: 20px">
        <div class="w-full h-full inline-flex justify-between items-center">
          <span> {{ item.name }} </span>
          <mat-icon>close</mat-icon>
        </div>
      </ng-template>
      <app-mainworkspace-content
        [inquiry]="item.link!"
      ></app-mainworkspace-content>
      <!-- {{ item.link }} -->
    </mat-tab>
  </mat-tab-group>
</div>
