// colors
$main-color: #215ebe;
$second-color: #1d891a;
$dark-color: #222b45;
$light-color: #ffffff;
$text-color: #073b4c;
$gray-color: #ecf0f6;
$gray-2-color: #f1f4f8;

$info-button-color: #60afff;
$primary-button-color: #215ebe;
$warning-button-color: #ffa500;
$success-button-color: #1d891a;
$danger-button-color: #ce3a27;
$disable-color: #949395;