<div class="w-full inline-flex justify-between items-center height-top px-4 shadow-sm bg-maincolor text-white">
  <!-- <div class="btn-close-menu" (click)="drawer.toggle()"> -->
  <div class="btn-close-menu cursor-pointer" (click)="closeSide()">
    <mat-icon
      aria-hidden="false"
      aria-label="Close Menu Icon"
      fontIcon="menu"
    ></mat-icon>
  </div>
  <div>
    <!-- <app-input placeholder="Search .. "></app-input> -->
  </div>
  <div>
    <div class="w-10 h-10 rounded-full bg-gray2color"></div>
  </div>
</div>
