@import "../../../../styles/main";

$height-top: 8%;
$shadow-top: 2px 2px 4px rgba(0, 0, 0, 0.1);

.drawer-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background: $gray-color;
  z-index: 0;
}

.sidenav {
  @include flex-center(row, center, space-between);
  height: 100%;
  width: 20%;
  border: 0;
  background: $light-color;
  box-sizing: border-box;

  @include mobile {
    display: none;
  }
}

.top-navbar {
  @include flex-center(row, center, space-between);
  @include px(15px);
  box-sizing: border-box;
  width: 100%;
  height: $height-top;
  background: $light-color;
  box-shadow: $shadow-top;
}

.btn-close-menu {
  @include flex-center;
  cursor: pointer;
  padding: 5px;
  border-radius: 3px;
  top: 5px;
  z-index: 10;
  transition: background-color 0.3s ease;

  &:hover {
    opacity: 0.5;
  }
}

.logo-sidebar {
  @include flex-center;
  width: 100%;
  height: $height-top;
  box-shadow: $shadow-top;
  box-sizing: border-box;
}

.menu-sidebar {
  @include flex-center(column, center, start);
  width: 100%;
  height: calc(100% - $height-top);
  box-sizing: border-box;
  padding:10px 5px;
}

app-side-menu {
  width: 100%;
  height: calc(100% - $height-top);
  box-sizing: border-box;
}

.img-profile {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: $dark-color;
}
