<ng-container *ngIf="isHaveChild(menuData?.childMenu!); else elseTemplate">
  <div class="w-full flex flex-col  rounded-md">
    <app-side-menu-item
      [menuDataChild]="menuData"
      [colorMenu]="colorMenu"
      [customStyle]="customStyle"
      [parent]="this"
      [isHaveChild]="true"
    ></app-side-menu-item>
    <div class="w-full " *ngIf="openChild">
      <ng-container *ngFor="let item of menuData?.childMenu">
        <app-side-menu-list
          class="flex"
          [paddingLeft]="paddingLeft"
          [menuData]="item"
        ></app-side-menu-list>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="w-full flex flex-col  rounded-md">
    <app-side-menu-item
      [menuDataChild]="menuData"
      [colorMenu]="colorMenu"
      [customStyle]="customStyle"
      [isHaveChild]="false"
    ></app-side-menu-item>
  </div>
</ng-template>