<ng-container *ngIf="isHaveChild(menuData?.childMenu!); else elseTemplate">
  <div class="w-full flex flex-col  rounded-md">
    <app-side-menu-item
      [menuDataChild]="menuData"
      [colorMenu]="colorMenu"
      [customStyle]="customStyle"
      [parent]="this"
      [isHaveChild]="true"
    ></app-side-menu-item>
    <div class="w-full " *ngIf="openChild">
      <ng-container *ngFor="let item of menuData?.childMenu">
        <app-side-menu-list
          class="flex"
          [paddingLeft]="paddingLeft"
          [menuData]="item"
        ></app-side-menu-list>
      </ng-container>
    </div>
  </div>
</ng-container>
<ng-template #elseTemplate>
  <div class="w-full flex flex-col  rounded-md">
    <app-side-menu-item
      [menuDataChild]="menuData"
      [colorMenu]="colorMenu"
      [customStyle]="customStyle"
      [isHaveChild]="false"
    ></app-side-menu-item>
  </div>
</ng-template>

<!-- <div class="w-full flex flex-col bg-gray-300 rounded-md">
  <app-side-menu-item
    [iconMenu]="menuData?.icon"
    [nameMenu]="menuData?.name"
    [linkMenu]="menuData?.link!"
    [colorMenu]="colorMenu"
    [customStyle]="customStyle"
    [parent]="this"
    [isHaveChild]="isHaveChild(menuData?.childMenu!)"
    [parentLinkMenu]="menuData?.link!"
  ></app-side-menu-item>
  <div class="w-full bg-gray-200" *ngIf="openChild">
    <ng-container *ngFor="let item of menuData?.childMenu">
      <ng-container *ngIf="isHaveChild(item.childMenu!); else elseTemplate">
        <ng-container *ngFor="let itemX of item.childMenu">
          <app-side-menu-list
            class="flex"
            [iconMenu]="itemX.icon"
            [nameMenu]="itemX.name"
            [linkMenu]="itemX.link!"
            [childMenu]="itemX.childMenu"
          ></app-side-menu-list>
        </ng-container>
      </ng-container>
      <ng-template #elseTemplate>
        <app-side-menu-item
          [iconMenu]="item?.icon"
          [nameMenu]="item?.name"
          [linkMenu]="item.link!"
          [colorMenu]="'bg-gray-200'"
          [customStyle]="'pl-6'"
          [parentLinkMenu]="linkMenu"
        ></app-side-menu-item>
      </ng-template>
    </ng-container>
  </div>
</div> -->
